.table {
  width: 80%;
  margin: 30px auto;
  border: 2px solid green;
}

.th {
  height: 40px;
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.img-wrapp {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-up {
  width: 35px;
  height: 35px;
}
.img-down {
  width: 35px;
  height: 35px;
  transform: rotate(180deg);
}